<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">Create</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
      <div class="recipe-item-container" *ngFor='let recipe of recipes'>
      <a href="#" class="list-group-item clearfix">
          <div class="pull-left">
              <h3 class="list-group-item-heading">{{recipe.name}}</h3>
              <p class="list-group-item-text">{{recipe.description}}</p>
          </div>
          <span class="pull-right">
              <img src={{recipe.imgPath}} alt={{recipe.imgAlt}} class="img-responsive" style="max-height: 50px;">
          </span>
      </a>
      </div>
    <app-recipes-item></app-recipes-item>
  </div>
</div>
