button {
  margin-right: 0.8rem;
  box-shadow: 2px 2px 7px lightgray;
  font-size: 1.8rem;
  padding: 0.8rem 1.8rem;
  font-weight: 500;
  color: #fff;
}

button:hover:first-of-type {
  color: rgb(0, 148, 0);
  background-color: white;
  text-decoration-line: underline;
  text-decoration-color: rgb(0, 148, 0);
  text-decoration-style: wavy;
  transition: all 0.3s;
}

button:hover:nth-of-type(2) {
  color: rgb(218, 0, 0);
  background-color: white;
  text-decoration-line: underline;
  text-decoration-color: rgb(218,0,0);
  text-decoration-style: wavy;
  transition: all 0.3s;
}

button:hover:nth-of-type(3) {
  color: rgb(255, 230, 0);
  text-decoration-line: underline;
  text-decoration-color: rgb(255, 230, 0);
  text-decoration-style: wavy;
  transition: all 0.3s;
}
