button {
  margin-right: 1rem;
  box-shadow: 2px 2px 7px lightgray;
  font-size: 1.8rem;
  padding: 0.8rem 1.8rem;
  font-weight: 500;
  color: #fff;
  border: 2px solid transparent;
}

button:hover {
  box-shadow: 3px 3px 8px gray;
}

button:hover:first-of-type {
  color: rgb(0, 148, 0);
  background-color: white;
  text-decoration-line: underline;
  text-decoration-color: rgb(0, 148, 0);
  text-decoration-style: wavy;
  transition: all 0.3s;
  border-color: orange;
  border-width: 2px;
}

button:hover:nth-of-type(2) {
  color: rgb(218, 0, 0);
  background-color: white;
  text-decoration-line: underline;
  text-decoration-color: rgb(218, 0, 0);
  text-decoration-style: wavy;
  transition: all 0.3s;
}

button:hover:nth-of-type(3) {
  color: var(--yellow);
  text-decoration-line: underline;
  text-decoration-color: var(--yellow);
  text-decoration-style: wavy;
  transition: all 0.3s;
  border-color: var(--yellow);
}
