/* *Overrides base Bootstrap styling */
nav,
.navbar,
.navbar-default a {
  color: rgb(105, 105, 105);
}

.icon-bar {
  background-color: gray !important;
}

.navbar-toggle {
  border-color: gray !important;
}

.navbar-toggle:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
/* * */