<!-- * The content passed between the app-header tags will be projected into the header component via <ng-content> -->
<app-header (featureActive)="showFeature($event)">Test</app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-recipes *ngIf="displayFeature === 'recipes'"></app-recipes>
      <app-shopping-list  *ngIf="displayFeature === 'shopping'"></app-shopping-list>
      <div [ngSwitch]="myVal">
        <p *ngSwitchCase="5">Five</p>
        <p *ngSwitchCase="10">Ten</p>
        <p *ngSwitchCaseDefault>Default</p>
      </div>
    </div>
  </div>
</div>
